<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Danger Pop Studio Password Reset </h1>
    <p>
        Your password reset token is <%=@user.reset_password_token %>
    </p>
    <p>
        This password will expire in 4 hours.
    </p>
    <p>Thank You for your support!!</p>
  </body>
</html>