<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome To Danger Pop Studio! </h1>
    <p>
      You have successfully created an account with Danger Pop.
      Your username is: <%= @user.email %> 
    </p>
    <p>Thank You for your support!!</p>
  </body>
</html>