<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Thank you, we have received your Tattoo Request </h1>
    <p>
      You have successfully submitted your Tattoo Request,
      Someone from our team will get back to you at <%= @tr.guest_email %> in 3 - 5 buisness days
    </p>
    <p>Thanks again and have a great day!</p>
  </body>
</html>