<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Thank you for your interest in Danger Pop </h1>
    <p>
      Unfortunately, we were unable to accept your request for a tattoo due to the following reason(s).<br>
       <%= @tr.declined_reason %> 
    </p>
    <p>Please feel free to submit another request in the future and we will do our best to accomdate.</p>
    <p>Thanks again and have a great day!</p>
  </body>
</html>